.well{
    background-color: #9acfea;
}

.container-fluid{
    margin: 0px;

}

body{
    background-color: #8c8c8c;
}

h3{
    color: whitesmoke;
}

.login{
    float: right;
}

iframe{
    float:right;
    width: 20%;
    height: 500px;
}