.mainWell{
    border-radius: 2px;
    background-color: #c5bdc4;
    border-color: #555555;


}

.navbar.navbar-default.navbar-fixed-top li a{
    color: white;
}
.navbar.navbar-default.navbar-fixed-top li a:hover{
    background-color: #999999;
    border-radius: 6px;

}

.active a{
    background-color: #999999;
    border-radius: 6px;

}



.placement{
    padding: 4px;
    text-align: center;
    background-color: #999999;
    box-shadow: 0 4px 7px 4px #dbc4d5;
}

.help-collapse{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    height: 100%;


}

.container-fluid{
    margin: 0px;

}

.container-fluid p{
    color: #4a4748;
}

body{
    background-image: url("../img/orig.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}

body > .container-fluid{
    padding-top: 5%;
}

h3{
    color: whitesmoke;
}

.login{
    float: right;
}

iframe{

    width: 100%;
    height: 380px;
}

.navbar-default{
    padding: 4px;
    background-color: rgb(85, 82, 90);
}
